.View-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    height: 100%;
}

.Settings-body {
    width: 70%;
    height: 100%;
    text-align: left;
}

.Github-settings-body {
    width: 100%;
    height: 100%;
}

.Repo-settings {
    width: 100%;
    height: 100%;
    text-align: center;
}

.Signin-body {
    width: 30%;
    height: 100%;
    border-right: 1px solid #cbced0;
    text-align: left;
}

.Signin-div {
    min-height: 10%;
}

.Title-text {
    font-size: 20px;
    border-bottom: 1px solid #cbced0;
    padding: 10px;
    text-align: left;
    color: #4b4b4b;
}

.Webhook-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.message {
    margin: auto;
    color: #737373;
}

@media only screen and (max-width: 600px) {

    .View-body {
        flex-direction: column;
    }

    .Settings-body {
        width: 100%;
        height: 70%;
    }

    .Signin-body {
        width: 100%;
        height: 30%;
        border-right: 0 solid #cbced0;
        text-align: left;


    }
}